.items .item {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.items .item .item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items .item .item-body img {
    margin-top: 10px;
    width: 100%;
    height: auto;
}